 <form method="get" action="/quizes?search=search">
 	Busqueda de preguntas:<br>
 	<input type="text" name="search" value="Texto a buscar" />
 	<input type="submit" value="Buscar">
</form>
<br>
 <% var i; var tema = ""; for (i=0; i < quizes.length; i++) { %>
 	<% if (tema !== quizes[i].tema) { 
 		tema = quizes[i].tema; %>
 		<h4><%= quizes[i].tema.toUpperCase() %> <% + ":"%> </h4>
 	<% } else { %>
 	<% } %>
 	<table>
	    <tr>
		    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td> 
		    <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
		    <td>
	        	<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
	          		<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
	            		borrar
	          		</button>
	        	</form>
	      	</td>
	    </tr>
    </table>
 <% } %>
 <br>
 <a href="/quizes/new"><button type="button">Crear pregunta</button></a>